.role-checkbox input[type=checkbox] {
   display: none;
}

.role-checkbox input[type=checkbox] + label {
    filter: grayscale(100);
    cursor: pointer;
}

.role-checkbox input[type=checkbox]:checked + label {
    filter: grayscale(0);
}

.somewhat-centered {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

td * {
    vertical-align: middle;
}

.controls {
    text-align: center;
}

.controls p {
    margin: 0;
}

.btn:focus, .btn:active, .btn:active:hover {
    outline: none !important;
    box-shadow: none;
}